@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Oswald&display=swap');

.container-barData ul{
    font-family: 'Oswald';
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: rgba(160, 152, 142, 0.267);
    padding: 0 1.5rem 0 1.5rem;
    padding-top: 1rem;
}

@media (max-width: 568px){
    .container-barData ul{
        flex-direction: column;

    }

    .item-tiempo,
    .item-pv{
        background-color: rgba(119, 113, 106, 0.267);
    }
}

