<div class="container-barData">
    <ul>
        <li class="bar-item item-precio">
            <p>Precio total: {{HPS.precio}}</p> 
        </li>
        <li class="bar-item item-tiempo">
            <p>Tiempo de preparación: {{HPS.timePreparation}}</p>
        </li>
        <li class="bar-item item-healt">
            <p>Healt Score: {{HPS.healthScore}}</p>
        </li>
        <li class="bar-item item-pv">
            <p>Platos Veganos: {{HPS.platosVeganos}}</p>
        </li>
    </ul>
</div>
