.card{
    padding: 1rem;
    margin: 1rem;
}
.container-divs{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
   

    
}
.container-divs img{
    border-radius: .3rem;
}

.container-divs ul {
    margin-bottom: 1rem;
}

.card{
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.918);
}

.search{
    display: flex;
    padding: 1rem;
}

h2{
    padding: 1rem;
}

.cont-button{
    display: flex;
    justify-content: center;
}

.cont-button button{
    margin: 2px;
}