
<div class="container-items row">

  <div class="card" style="width: 18rem;">
      <img src="{{plato.image}}" class="card-img-top" alt="..." >
      <div class="card-body">
        <h4 class="card-title">{{plato.title}}</h4>
        <p class="card-text"></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Precio: {{plato.pricePerServing}}</li>
        <li class="list-group-item">Tiempo de preparacion: {{plato.readyInMinutes}}</li>
        <li class="list-group-item">Health Score: {{plato.healthScore}}</li>
        <li class="list-group-item">Vegano: {{plato.vegan===true?"si":"no"}}</li>
      </ul>
      <div class="card-body">
        <button href="" class="card-link" (click)="agregarPlato(plato)">Agregar</button>
        <button href="" class="card-link">Eliminar</button>
        <button href="" class="card-link">Detalles</button>
      </div>
  </div>
</div>

