@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Oswald&display=swap');
*{
    font-family: 'Oswald';

}

.background{
    background:no-repeat center fixed url("../../assets/img/localForm-min.jpg");
    
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(230, 234, 238);
    font-size: 1.5rem;
}
.target{
    background-color: rgba(0, 0, 0, 0.808);
    padding: 2rem;
    border-radius: .3rem;
    
}
.text-saludo{
margin-bottom: 2rem;
text-align: center;
color: rgb(28, 219, 69);
}
.target button{
    margin-top: .5rem;
}

