.background{
    background:no-repeat center fixed url("https://d3aux7tjp119y2.cloudfront.net/original_images/Tak2-CMSTemplate_IrMZHla.jpg");
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(230, 234, 238);
    font-size: 1.5rem;
}
.target{
    background-color: rgba(0, 0, 0, 0.658);
    padding: 2rem;
    border-radius: .3rem;
    
}
.text-saludo{
margin-bottom: 2rem;
text-align: center;
color: rgb(106, 241, 43);
}
.target button{
    margin-top: .5rem;
}

