<app-bar-data-platos></app-bar-data-platos>
<div class="container-items row">

    <div class="card" style="width: 18rem;">
        <img src="./assets/img/11.jpg" class="card-img-top" alt="..." >
        <div class="card-body">
          <h4 class="card-title">Nombre Del Plato</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's contentSome quick example text to build on the card title and make up the bulk of the card's contentSome quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Precio</li>
          <li class="list-group-item">Tiempo de preparacion</li>
          <li class="list-group-item">Health Score</li>
          <li class="list-group-item">Vegano</li>
        </ul>
        <div class="card-body">
          <a href="/detallePlato">Ver mas detalle</a>
          <a href="" class="card-link">Eliminar</a>
        </div>
    </div>
</div>